// colors
$green: #69C706;
$dark_green: #38AA0D;
$white: #FFFFFF;
$gray: #4F4F4F;
$light_gray: #F5F5F5;

// media queries
$xsmallScreen: 0px;
$smallScreen: 576px;
$mediumScreen: 768px;
$largeScreen: 992px;
$xlargeScreen: 1200px;
$xxlargeScreen: 1400px;