/* start global rules */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
:root{
    --green-color: #69C706;
    --dark-green-color: #38AA0D;
    --white-color: #FFFFFF;
    --gray-color: #4F4F4F;
    --light-gray-color: #F5F5F5;
    --main-transition: 0.3s;
}
.text-white{
    color: var(--white-color);
}
.text-gray{
    color: var(--gray-color);
}
.bg-light-gray{
    background-color: var(--light-gray-color);
}
.text-green{
    color: var(--green-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-dark-green{
    background-color: var(--dark-green-color);
}
.border-green{
    border-color: var(--green-color)!important;
}
.transition{
    transition: var(--main-transition);
}
.text-small{
    font-size: 0.9rem;
}
.main-head{
    color: var(--green-color);
    font-weight: bold;
    padding-bottom: 1rem;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 16px;
}
div::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-track,div::-webkit-scrollbar-track{
    background-color: #fafafa;
    box-shadow: 0 0 8px #535353 inset;
}
html::-webkit-scrollbar-thumb,div::-webkit-scrollbar-thumb{
    background-color: #878686;
    border-radius: 7px;
}
body{
    font-family: "Almarai", sans-serif;
    direction: rtl;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    line-height: 1.8;
    font-weight: 600;
}
button{
    outline: none;
}
@media (max-width: 576px) {
    .logo{
        width: 10rem;
    }
}
@media (max-width: 1200px) {
    html{
        font-size: 90%;
    }
}
@media (max-width: 500px) {
    html{
        font-size: 80%;
    }
}
@media (max-width: 400px) {
    html{
        font-size: 70%;
    }
}
@media (max-width: 300px) {
    html{
        font-size: 54%;
    }
}
/* end global rules */


/* start nav */
header{
    direction: ltr;
}
.navbar-toggler{
    box-shadow: none !important;
    border: none;
}
@media (max-width: 992px) {
    .navbar{
        background-color: transparent;
    }
    .navbar-collapse{
        background-color: var(--green-color);
        padding: 0.6rem;
    }
}
/* end nav */


/* start dropdown menu */
.dropdown-menu{
    background-color: var(--dark-green-color);
    transform: translateY(4%);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 0;
}
.dropdown-menu::before{
    content: "";
    position: absolute;
    top: 0;
    right: 25%;
    transform: translateY(-100%);
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-bottom: 0.4rem solid var(--dark-green-color);
}
@media (max-width: 992px) {
    .dropdown-menu::before{
        right: 50%;
    }
}
.dropdown-menu li:not(:last-child){
    border-bottom: solid 1px var(--gray-color);
    padding-bottom: 0.5rem;
}
.dropdown-menu li a:hover{
    background-color: var(--dark-green-color);
}
/* end dropdown menu */


/* start button group */
.btn-group{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    margin-right: 0.5rem;
}
.btn-group .btn{
    border: none;
    padding: 1rem 1.5rem;
    color: var(--green-color);
    background-color: var(--white-color);
    border-radius: 0.2rem 0.2rem 0 0 !important;
    transition: var(--main-transition);
    font-size: 1.1rem;
    margin-left: 0.1rem;
}
.btn-group .btn-check:checked+.btn,.btn-group .btn-check+.btn:hover{
    color: var(--white-color);
    background-color: var(--green-color);
}

.btn-group .btn-check:checked+.btn::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateY(100%);
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.4rem solid var(--green-color);
}
/* end button group */


/* start swiper card */
.swiper-card{
    border-color: var(--green-color)!important;
    height: 25rem;
}
.swiper-card .speaker-img{
    width: 5rem;
    height: 5rem;
    box-shadow: 0px 5px 0px 0px var(--green-color);
}
.swiper-card .quotes{
    height: 1.6rem;
}
/* end swiper card */


/* start previous-icon */
.previous-icon{
    background: linear-gradient(180deg, #69C706 0%, #38AA0D 100%);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* end previous-icon */

/* start countdown */
#countdown{
    background-color: #00000032;
}
/* end countdown */

/* start media */
.media-cards{
    height: 33rem;
}
.news-thumbnail{
    min-width: 12rem;
}
.news-resource{
    max-width: 5rem;
    filter: grayscale();
}
.news-desc{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* end media */

/* start live */
.live{
    background: linear-gradient(0deg, var(--green-color) 50%, var(--light-gray-color) 50%);
}
/* end live */

/* start feeds */
.twitter{
    background: #1DA1F2;
}
.instagram{
    background: linear-gradient(269.39deg, #F21DAA 0%, #E11DF2 101.08%);
}
.twitter .icon,.instagram .icon{
    width: 1.5rem;
}
/* end feeds */

/* start registration */
.registration{
    border: 1px solid var(--green-color);
    width: fit-content;
    margin: 0 auto;
}
.registration .btn:hover{
    background-color: var(--green-color);
    color: var(--white-color);
}
/* end registration */

/* start footer */
footer{
    background: linear-gradient(180deg, #69C706 0%, #38AA0D 100%);
}
/* end footer */