.previous-icon{
    background: linear-gradient(180deg, #69C706 0%, #38AA0D 100%);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}